@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: overlay;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar
{
  display: none;
}
/* ::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb; 
  border-radius: 10px;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section
{
  min-height: 100vh;
}

#mainWrapper
{
  height: 100vh;
  background: linear-gradient(-45deg,#0e7490, #155e75, #164e63);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  overflow: hidden;
}

#mainContainer
{
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(-45deg,#0e7490, #155e75, #164e63);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

#mainContainer::before
{
  z-index: 100;
  position: fixed;
  content: '';
  height: 300%;
  width: 300%;
  top: -100%;
  left: -50%;
  pointer-events: none;
  user-select: none;
  background-image: url('http://momentsingraphics.de/Media/BlueNoise/WhiteNoiseDithering.png');
  opacity: 0.029;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mainWrapper::-webkit-scrollbar
{
  display: none;
}

.strokeText
{
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}

#smooth-wrapper
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* pointer-events: none; */
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(-45deg,#0e7490, #155e75, #164e63);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}

#footer
{
  min-height: 400px;
}

.city 
{
  height: 450px;
  background: #000;
}